*{margin: 0px; padding: 0px;}

.inlineblock div {
    display: inline-block;
}

.quitarul {
    list-style-type: none;
    color: #F2F6F6;
}
.move-right {
    float: right;
}

nav {
    height: 70px;
}

.indice{
    margin-top: 27px;
    margin-left: 70px;
}
.indice ul li {
    display: inline-block;
    padding-right: 20px;
    font-size: 16px;
    font-family: 'Inter';
    font-weight: normal;
}

.indice ul{
    padding: 0px;
}

.indice ul li a {
    text-decoration: none;
    color: black;
}

nav ul li a:hover {
    color: #FFFF00;
}

nav div:nth-of-type(2) {
    margin-top: 10px;
    margin-right: 30px;
}

nav div:nth-of-type(2) img {
    margin-left: 20px;
}
.pos img:nth-of-type(1) {
    margin-top: 1px;
    margin-right: 15px;
}
.pos span{
    position: relative;
    bottom: 15px;
    font-family: 'Inter';
    font-weight: normal;
    font-size: 12px;
}
.pos img:nth-of-type(2) {
    margin-bottom: 5px;
}
.pos img:nth-of-type(3) {
    margin-bottom: 15px;
}

.fondo{
    position: relative;
    overflow: hidden;
    height: 600px;
}

.fondo h1{
    margin-top: 150px;
    margin-left: 150px;
    position: absolute;
    font-size: 96px; 
    font-family: 'Romanesco';
    font-weight: normal;
}

.fondo p{
    width: 600px;
    margin-top: 280px;
    margin-left: 150px;
    position: absolute;
    font-size: 32px; 
    font-family: 'Inter';
    font-weight: bold;
}

.formulario{
    margin: 0px;
    height: 100px;
    background-color: #F2F6F6;
}

.form{
    padding: 26px;
    padding-left: 270px;
}

.form label{
    font-family: 'Inter';
    font-weight: normal;
}
.form input{
    height:  50px;
    border-radius: 15px;
    border-style: none;
}

.form input:nth-of-type(1){
    width: 280px;
    margin-right: 20px;
    margin-left: 30px;
}

.cartas{
    margin-top: 100px;
    margin-bottom: 60px;
}

.cartas div {
    width: 320px;
}

.cartas div:nth-of-type(1) {
    margin-left: 60px;
}

.cartas div:nth-of-type(2) {
    padding-right: 134px;
    padding-left: 134px;
    margin: 0px;
}

.cartas div:nth-of-type(3) {
    margin: 0px;
}


.cartas div img {
    max-width: 100%;
    height: auto;
    display: block;
}

.cartas div p:first-of-type {
    margin: 0;
    padding-top: 25px;
    padding-bottom: 25px;
    border: 0px;
    background-color: #A3A656;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    text-align: center;
    font-size: 32px; 
    font-family: 'Inter';
    font-weight: bold;
    color: white;
}

.cartas div p:nth-of-type(2) {
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}

.cartas div span{
    margin-left: 15px;
    margin-top: 5px;
    font-size: 30px;
    font-family: 'Inter';
    font-weight: bolder;
}

.cartas div button{
    box-shadow: none;
    float: right;
    background-color: #A3A656;
    padding : 12px;
    padding-right: 35px;
    padding-left: 35px;
    border-radius: 23px;
    border-style: none;
    font-family: 'Inter';
    font-size: 14px;
    color: white;
    font-weight: bolder;
}
.cartas div button:hover{
    color: #384001;
}

.space{
    padding-left: 100px;
}

.suscripcion{
    height: 770px;
    background-color: #F2F6F6;
}

.suscripcion h1{
    text-align: center;
    padding-top: 25px;
    padding-bottom: 70px;
    font-family: 'Inter';
    font-weight: bolder;
    font-size: 28px;
}

.quitar{
    text-decoration: none;
}
.suscripcion div:nth-of-type(2) {
    padding-right: 134px;
    padding-left: 134px;
}

.suscripcion div p{
    text-align: center;
}

.suscripcion div div
{
    margin-left: 20px;
    width: 233px;
    height: 233px;
    background-color: white;
    border-radius: 50%;
    border: 11px solid #384001;
}

.suscripcion div p{
    padding-top: 10px;
    padding-bottom: 45px;
    font-family: 'Inter';
    font-size: 30px;
    font-weight: bolder;
}

.suscripcion div img{
    padding: 55px;
}

.suscripcion div button{
    border-style: none;
    display: block;
    background-color: #A3A656;
    width: 290px;
    height: 60px;
    border-radius: 35px;
    color: white;
    margin-bottom: 25px;
    font-family: 'Inter';
    font-weight: bolder;
    font-size: 16px;
}

.suscripcion div ul{
    width: 200px;
    height: 100px;
    padding-left: 55px;
}

.suscripcion div ul li{
    padding: 5px;
    font-family: 'Inter';
    font-size: 14px;
}

#padSpan {
    padding-right: 40px;

}

.piepagina{
    height: 70px;
}

.piepagina ul{
    margin: opx;
}

.piepagina ul li{
    color: #A3A656;
    font-family: 'Inter';
    font-size: 14px;
    padding-right: 80px;
}

.piepagina ul li:hover {
    color: #FFFF00;
}
.piepagina span{
    color: #A3A656;
    font-family: 'Inter';
    font-size: 14px;
    position: relative;
    bottom: 15px;
    right: 20px;
}

.piepagina img{
    margin-right: 30px;
    margin-top: 10px;
}
/*Colores*/

.colorprimario {
    background-color: #A3A656;
}
.color-secundario{
    background-color: #384001;
}
